body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  font:
    0.9em/1.2 Arial,
    Helvetica,
    sans-serif;
}

.box {
	border-radius: 50%;
  float: left;
  margin-right: 15px;
  width: 150px;
  height: 150px; 
  background-color: rgb(207 232 220);
  padding: 1em;
	shape-outside: circle(50%);
	display: flex;
	justify-content: center;
	align-items: center; 
}

.box1 {
	border-radius: 50%;
  float: left;
  margin-right: 15px;
  width: 150px;
  height: 150px; 
  background-color: rgb(207 232 220);
  padding: 1em;
	shape-outside: circle(50%);
	display: flex;
	justify-content: center;
	align-items: center; 
}


.last-p::first-letter{
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 6rem;
  font-weight: bold;
  float: left; 
  margin-right: 0.7rem; 
  padding: 1rem;
  line-height: 0.65;
  background: #303030;
}

